.receipt_detail {
    margin: 14px 0;
    padding-left: 40px;
}
.receipt_detail_step_content{
    line-height: 260px;
    text-align: center;
    color: rgba(0, 0, 0, 0.45);
    /* background-color: ; */
    background-color: rgb(238 226 226 / 68%);
    border-radius: 8px;
    border: 1px dashed rgb(217, 217, 217);
    margin-top: 16px;
    min-width: 380px;
}
.receipt_detail_btn {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
}
.ant-steps-item-icon {
    /* background-color: rgb(241 236 236 / 75%) !important; */
}
.ant-steps-item-title {
    color: white !important;
}
:where(.css-dev-only-do-not-override-1ttravq).ant-steps .ant-steps-item-wait .ant-steps-item-icon {
    background-color: rgb(241 236 236 / 75%) !important;

}